# Python 

* Everything in python is an object

In [1]:
x=2
id(x)

1720740960

In [5]:
y=x
id(x)==id(y)

True

In [6]:
y=4
id(x)==id(y)

False

* Variable name can be ASCII + Unicode

In [9]:
υψος = 10
x=20
print(υψος,x)

10 20

## Datatypes

### Number
* Normal Integers - 1234
* Octal(base 8) - <font color=red>0o</font>10 
* Hexadecimal(base 16) - <font color=red>0x</font>A0 
* Binary(base 2) - <font color=red>0b</font>10 
* Complex - 3 + 4j
* Float - 1.2

#### To base 16

In [10]:
hex(20)

'0x14'

#### To base 8

In [11]:
oct(20)

'0o24'

#### To base 2

In [12]:
bin(20)

'0b10100'

#### Complex

In [14]:
print(3+4j)

(3+4j)

*Base 16,8,2 to base 10 conversion is implicit*

In [13]:
print(0o10,0xA0F,0b101)

8 2575 5

### String

*  All strings in Python 3 are sequences of "pure" Unicode characters and those encode Unicode is represented as binary data
* \ is used to escape characters
* Immutable therefore must be converted to list

In [19]:
s ="Yo what's up"
print(s)

Yo what's up

In [17]:
'Yo what\'s up '

"Yo what's up "

In [18]:
""" Yo what's up"""

" Yo what's up"

#### Some operations

In [25]:
s[1],s[0:3],s[-1],s[::-1],s*2,s+" I am cool",len(s)

('o',
 'Yo ',
 'p',
 "pu s'tahw oY",
 "Yo what's upYo what's up",
 "Yo what's up I am cool",
 12)

### List - ordered sequences of values

In [100]:
l=[1,2,3,4,3]
l.count(3)

2

In [101]:
#index raises exception
l=['a','b','c','foo','r','d']
l.index('d')

5

In [102]:
'a' in l

True

#### Deleting using remove,del,pop

In [103]:
del l[0]
print(l)

['b', 'c', 'foo', 'r', 'd']

In [104]:
l.remove('foo')
print(l)

['b', 'c', 'r', 'd']

##### pop() - removes from last , pop(index) - removes from index

In [105]:
l.pop()
print(l)

['b', 'c', 'r']

In [106]:
l.pop(1)
print(l)

['b', 'r']

##### adding to front - insert(x,index)
<font text=red>push is not there</font>
##### adding to end - append()

In [108]:
l.append(2)
l
l.insert(0,1)
l

[1, 'b', 0, 'r', 2, 2]

### Tuples - immutable list (append,remove,etc)not work

In [63]:
l=(1)
print(l,type(l))
l=(1,)
print(l,type(l))

1 <class 'int'>
(1,) <class 'tuple'>

### Set - Unordered bag of values

In [67]:
s = {1,2,3}
print(s,type(s))
s=set([1,2,3,3])
print(s)
s={}
type(s)

{1, 2, 3} <class 'set'>
{1, 2, 3}

dict

#### Modifying a set
##### add - 1 element at a time

In [79]:
s={1,2,3}
s.add(4)
s

{1, 2, 3, 4}

##### update - multiple elements at a time

In [80]:
s.update({2,4,6,7})
s

{1, 2, 3, 4, 6, 7}

#### Deleting items from a set - discard(no exception),remove,pop,clear(removes all values)

In [81]:
s.discard(1)
s

{2, 3, 4, 6, 7}

In [82]:
s.pop()
s

{3, 4, 6, 7}

In [83]:
s.remove(1)

KeyError: 1

In [85]:
s.clear()
s

set()

#### Operations on a set
union

intersection

difference

symmetric_difference - A + B -(A intersection B)

In [43]:
a={1,2,3}
b={2,4,5}

In [48]:
a.union(b)
a|b

{1, 2, 3, 4, 5}

In [49]:
a.intersection(b)
a&b

{2}

In [50]:
a={1,2,3}
a.difference(b)
a-b

{1, 3}

In [51]:
a.symmetric_difference(b)
a^b

{1, 3, 4, 5}

### Booleans

In [115]:
b=True
b=False

### Dictionaries - Unordered bag of key-value pairs

In [8]:
d={'Toronto': 2615060, 'Ottawa': 883391, 'Los Angeles': 3792621, 'Chicago': 2695598, 'New York City': 8175133, 'Boston': 62600, 'Washington': 632323, 'Montreal': 11854442}

In [9]:
for i in d.keys():
    print(i)

Toronto
Ottawa
Los Angeles
Chicago
New York City
Boston
Washington
Montreal

In [10]:
for i in d.values():
    print(i)

2615060
883391
3792621
2695598
8175133
62600
632323
11854442

In [11]:
for x,y in d.items():
    print(x,y)

Toronto 2615060
Ottawa 883391
Los Angeles 3792621
Chicago 2695598
New York City 8175133
Boston 62600
Washington 632323
Montreal 11854442

In [12]:
d.update({'Delhi':121002,'Bangalore':142567})

In [13]:
d1=d.copy()

In [14]:
d1['Delhi']=11111

In [16]:
d,d1

({'Toronto': 2615060,
  'Ottawa': 883391,
  'Los Angeles': 3792621,
  'Chicago': 2695598,
  'New York City': 8175133,
  'Boston': 62600,
  'Washington': 632323,
  'Montreal': 11854442,
  'Delhi': 121002,
  'Bangalore': 142567},
 {'Toronto': 2615060,
  'Ottawa': 883391,
  'Los Angeles': 3792621,
  'Chicago': 2695598,
  'New York City': 8175133,
  'Boston': 62600,
  'Washington': 632323,
  'Montreal': 11854442,
  'Delhi': 11111,
  'Bangalore': 142567})

In [18]:
d1.clear()
d,d1

({'Toronto': 2615060,
  'Ottawa': 883391,
  'Los Angeles': 3792621,
  'Chicago': 2695598,
  'New York City': 8175133,
  'Boston': 62600,
  'Washington': 632323,
  'Montreal': 11854442,
  'Delhi': 121002,
  'Bangalore': 142567},
 {})

##### Deleting with and without exception

In [19]:
del d['Delhi']
d

{'Toronto': 2615060,
 'Ottawa': 883391,
 'Los Angeles': 3792621,
 'Chicago': 2695598,
 'New York City': 8175133,
 'Boston': 62600,
 'Washington': 632323,
 'Montreal': 11854442,
 'Bangalore': 142567}

In [20]:
del d['Delhi']
d

KeyError: 'Delhi'

In [53]:
d.pop('Delhi',None)

##### Accessing with and without exception

In [24]:
d.get('Delhi')

In [23]:
d['Delhi']

KeyError: 'Delhi'